.actions {
    display: flex;
    gap: 15px;
}

.container {
    padding: 20px;
}

.deletar {
    text-align: center;
}

.deletar img {
    cursor: pointer;
}

.aviso_exclusao {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 2px;
    text-align: center;
}

.botoes_tela-exclusao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fechar_aviso {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: none;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.edicao_produto {
    background: #ffffff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    min-width: 350px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edicao_produto h2 {
    margin-top: 0;
    font-size: 24px;
    color: #383838;
    margin-bottom: 25px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #444;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 15px;
    background-color: #f9fafb;
    transition: border 0.3s, background 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #6366f1;
    background-color: #fff;
    outline: none;
}

.botoes_edicao {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 25px;
}