* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e4e79;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 22px;
    margin: 0;
}

.btn {
    background-color: #1e4e79;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #39668e;
}

.actions button,
.actions2 button {
    background-color: #336699;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    color: white;
}

.actions button:hover,
.actions2 button:hover   {
    background-color: #395b79;
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}